{% extends 'base.html' %}

{% block head %}
<h1>DJ Stream</h1>
{% endblock %}

{% block title %}
This is the Music Player
{% endblock %}

{% block body %}
<audio controls="controls" autoplay="autoplay"></audio>
<ul>
    {% for song in songs %}
        <li><a href="javascript:void(0);" onclick="playSong('{{song}}')">{{song}}</a></li>
    {% endfor %}
<script type="text/javascript">
    function playSong(song) {
        $('audio').attr('src', '/static/assets/'+song);
    }
</script>
{% endblock %}